/* Styling sheet by Smitty for YCPHacks Hackathon 10/21 - 10/23 */

body {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);  
}

.page-header {
  text-align: center;
}

.main-content {
	height: 100vh;
	align: center;
}
  
thead {
	border: 2px;
	text-align: center;
	cell-padding: 4px;
}

.user-input {
	text-align: center;
	border: 1px;
	margin-left: auto;
	margin-right: auto;
}

tbody {
    height: 100px;
    overflow-y: auto;
}

.occasion-info {
	text-align: center;
	margin: auto;
	width: 50%;
	bottom-padding: 5px;
}

.welcome {
	border: 0px;
}

.occasion-submit {
	text-align:center;
	margin:auto;
}